/* #region: Page */
    .inner-page .page-details .title {
        font-size: 24px;
        font-weight: 700;
        color: var(--color-bg-dark-alt);
    }
    .inner-page .page-details .description {
        font-size: 16px;
        color: var(--color-bg-dark);
    }
/* #endregion */


/* #region: Form */
    .inner-page .form .label {
        font-size: 16px;
        font-weight: 500;
        color: var(--color-bg-dark-alt);
        margin-bottom: 10px!important;
        position: relative;
    }
    /* .inner-page .form .add-label {
        margin-bottom: 0px!important;
    } */
    .inner-page .form .input-field {
        border: 1px solid var(--color-gray-light);
        border-radius: 0;
        height: 60px;
        font-size: 15px;
        color: var(--color-bg-dark-alt);
    }
    .inner-page .form .input-field::placeholder {
        font-size: 15px;
    }
    .inner-page .form .toggle-password {
        color: var(--color-gray);
        cursor: pointer;
        position: absolute;
        top: 50px;
        font-size: 20px;
        right: 15px;
    }
    .inner-page .form .radios {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .inner-page .form .checks {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
        border: 5px dashed var(--color-gray-light);
        padding: 25px;
    }
    .inner-page .form .form-check {
        display: flex;
        margin-bottom: 0;
        align-items: center;
        gap: 10px;
    }
    .inner-page .form .form-check .form-check-label {
        line-height: 15px;
        font-size: 16px;
        font-weight: 500;
        color: var(--color-bg-dark-alt);
        cursor: pointer;
    }
    .inner-page .form .form-check .form-check-input {
        width: 25px;
        height: 25px;
        margin-top: 0;
        cursor: pointer;
    }
    .inner-page .form .form-check .form-check-input:checked {
        background-color: var(--color-primary-dark);
        border-color: var(--color-primary-dark);
    }
    .inner-page .form .submit-button {
        color: var(--color-white);
        border: none;
        background: var(--color-primary);
        font-size: 17px;
        width: 200px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        transition: all 0.3s;
        &:hover {
            background: var(--color-primary-dark);
            transition: all 0.3s;
        }
    }
    .inner-page .form .info-tooltip {
        color: var(--color-primary-dark);
        position: absolute;
        top: -5px;
        right: -20px;
        cursor: pointer;
    }
    .inner-page .form .info-box {
        padding: 15px 25px;
        padding-bottom: 0;
    }
    .inner-page .form .info-box .info-box-title {
        font-size: 19px;
        font-weight: 600;
        color: var(--color-bg-dark-alt);
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .inner-page .form .info-box .info-box-title .special {
        font-size: 22px;
        font-weight: 700;
        color: var(--color-black);
        margin-right: 10px;
    }
    .inner-page .form .info-box .info-box-features {
        list-style-type: none;
        color: var(--color-bg-dark);
        font-size: 16px;
        margin-bottom: 15px;
        li {
            padding-bottom: 5px;
            &:last-child {
                padding-bottom: 0;
            }
        }
        i {
            margin-right: 10px;
            color: var(--color-primary-dark);
        }
    }
    /* .inner-page .form .ck.ck-content {
        height: 250px;
        border-color: var(--input_border)!important;
    }
    .inner-page .form .ck-toolbar {
        border-color: var(--input_border)!important;
    }
    .inner-page .form .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
        box-shadow: none!important;
        outline: none;
    }
    .inner-page .form .section .add-row-button, .inner-page .form .add-row-button {
        font-size: 14px;
        background-color: var(--red);
        color: var(--white);
        border: none;
        padding: 5px 12px;
        border-radius: 0;
        transition: all 0.3s;
        &:hover {
            background: var(--light_black);
            transition: all 0.3s;
        }
    }
    .inner-page .form .section .add-row-button i, .inner-page .form .add-row-button i {
        font-size: 14px;
        margin-right: 5px;
    }
    .inner-page .form .section .delete-button, .inner-page .form .delete-button {
        margin: auto;
        font-size: 20px;
        -webkit-text-stroke: 0.5px;
        cursor: pointer;
        color: var(--red);
        transition: all 0.3s;
        &:hover {
            color: var(--light_black);
            transition: all 0.3s;
        }
    } */
/* #endregion */


/* #region: Select 2 - Completed */
    .inner-page .select2-container--default .select2-selection--single {
        border: 1px solid var(--color-gray-light);
        border-radius: 0;
        height: 60px;
        font-size: 15px;
        color: var(--color-bg-dark-alt);
        outline: none;
        display: flex;
        align-items: center;
    }
    .inner-page .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: initial!important;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: var(--color-primary-dark);
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: var(--color-bg-dark-alt);
    }
    .select2-results__option {
        font-size: 15px;
    }
/* #endregion */


/* #region: Drop area - Completed */
    .inner-page .drop-area {
        border: 1px dashed var(--color-primary);
        background-color: var(--color-gray-very-light);
        height: 400px;
        padding: 0 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .inner-page .drop-area i {
        font-size: 45px;
        color: var(--color-primary);
    }
    .inner-page .drop-area .drag-drop {
        font-size: 20px;
        color: var(--color-bg-dark-alt);
    }
    .inner-page .drop-area .line-or {
        align-items: center;
        color: var(--color-gray);
        font-size: 14px;
        margin-top: 10px;
        width: 100%;
    }
    .inner-page .drop-area .button {
        color: var(--color-primary);
        border: 1px solid var(--color-gray-light);
        font-size: 13px;
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        margin-top: 10px;
        margin-bottom: 25px;
        cursor: pointer;
        &:hover {
            background-color: var(--color-primary-dark);
            color: var(--color-white);
            border: none;
            transition: all 0.3s;
        }
    }
    .inner-page .drop-area .close-icon, .inner-page .drop-area .download-icon {
        position: absolute;
        top: 0px;
        background-color: var(--color-red);
        color: var(--color-white);
        border: none;
        border-radius: 0;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .inner-page .drop-area .close-icon i, .inner-page .drop-area .download-icon i {
        font-size: 20px;
        color: var(--color-white);
        line-height: 15px;
    }
    .inner-page .drop-area .close-icon {
        right: 0px;
    }
    .inner-page .drop-area .download-icon {
        right: 30px;
    }
    .inner-page .drop-area .condition {
        font-size: 14px;
        color: var(--color-gray);
        text-align: center;
    }
    .inner-page .drop-area.highlight {
        border: 1px solid var(--color-red);
    }
    .inner-page .drop-area .image-preview, .inner-page .drop-area .video-preview {
        width: 200px;
        height: 125px;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
    .inner-page .drop-area .image-preview img, .inner-page .drop-area .video-preview video {
        width: 200px;
        height: 125px;
        object-fit: cover;
        cursor: pointer;
    }
    .inner-page .drop-area .images-preview, .inner-page .drop-area .videos-preview {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
    .inner-page .drop-area .images-preview .single-image, .inner-page .drop-area .videos-preview .single-video {
        margin: 0 2px;
    }
    .inner-page .drop-area .images-preview img, .inner-page .drop-area .videos-preview video {
        width: 100%;
        height: 70px;
        border-radius: 5px;
        object-fit: cover;
        margin: 0 2px;
        cursor: pointer;
    }
    .inner-page .drop-area .images-preview .single-image:last-child, .inner-page .drop-area .videos-preview .single-video:last-child {
        margin-right: 0;
    }
/* #endregion */


/* #region: Map - Completed */
    .inner-page #map {
        height: 500px;
    }
    .inner-page #place-autocomplete-card {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 10px;
        padding: 5px;
        font-family: Roboto, sans-serif;
        font-size: large;
        font-weight: bold;
    }
    .info-window-content {
        font-size: 14px;
        line-height: 1.6;
        max-width: 250px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .gm-style .gm-style-iw-c {
        padding: 0!important;
    }
    .gm-style .gm-style-iw-d {
        padding-left: 15px;
        padding-top: 10px;
    }
    .gm-style-iw-chr {
        display: none;
    }
    .info-window-content .title {
        font-weight: bold;
        font-size: 17px;
        color: var(--color-bg-dark-alt);
    }
    .info-window-content .address {
        font-size: 14px;
        color: var(--color-bg-dark);
    }
/* #endregion */


/* #region: Nav */
    /* .inner-page .nav-pills {
        border-bottom: 1px solid var(--input_border);
        margin-bottom: 25px;
    }
    .inner-page .nav-pills .nav-item {
        margin-right: 50px;
    }
    .inner-page .nav-pills .nav-item .nav-link {
        font-size: 16px;
        padding: 0;
        padding-bottom: 10px;
        color: var(--gray);
        border-radius: 0;
    }
    .inner-page .nav-pills .nav-item .nav-link.active {
        background-color: transparent;
        font-weight: 500;
        color: var(--light_black);
        border-bottom: 2px solid var(--red);
    }
    .inner-page .tab-content {
        background-color: var(--white);
        border-radius: 10px;
        padding: 30px;
    }
    .inner-page .tab-content .tab-content-title {
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 10px;
        color: var(--light_black);
    } */
/* #endregion */


/* #region: Message - Completed */
    .inner-page .message-form {
        background-color: var(--color-white);
        padding: 20px;
        border-radius: 10px;
    }
    .inner-page .message-form .chat-box {
        overflow-y: scroll;
        height: 350px;
        padding: 0 10px;
    }
    .inner-page .message-form .chat-box .profile-image {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .inner-page .message-form .chat-box .right-single-message {
        display: flex;
        width: 75%;
        align-items: end;
        justify-content: end;
        margin-left: auto;
        gap: 15px;
    }
    .inner-page .message-form .chat-box .right-single-message .right-message {
        background-color: var(--color-deep-green);
        color: var(--color-white);
        padding: 15px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 26px;
    }
    .inner-page .message-form .chat-box .left-single-message {
        display: flex;
        width: 75%;
        align-items: end;
        margin-right: auto;
        gap: 15px;
    }
    .inner-page .message-form .chat-box .left-single-message .left-message {
        background-color: var(--color-dark-green);
        color: var(--color-white);
        padding: 15px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 26px;
    }
    .inner-page .message-form .chat-box .single-message:last-child {
        margin-bottom: 0!important;
    }
    .inner-page .message-form .chat-box .left-single-message .time {
        font-size: 12px;
        color: var(--color-gray);
        padding-top: 3px;
    }
    .inner-page .message-form .chat-box .right-single-message .time {
        font-size: 12px;
        color: var(--color-gray);
        padding-top: 3px;
        text-align: end;
    }
    .inner-page .message-form .chat-box::-webkit-scrollbar {
        width: 5px;
    }
    .inner-page .message-form .chat-box::-webkit-scrollbar-track {
        background: var(--color-gray-light)
    }
    .inner-page .message-form .chat-box::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
    }
    .inner-page .message-form .chat-box::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-primary-dark);
        cursor: pointer;
    }
/* #endregion */


/* #region: Image preview */
    .modal-image-preview .modal-content, .modal-video-preview .modal-content {
        border-radius: 0;
    }
    .modal-image-preview .modal-body, .modal-video-preview .modal-body {
        padding: 10px;
    }
    .modal-image-preview .modal-body .modal-image, .modal-video-preview .modal-body .modal-video {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
    .modal-image-preview .close-button, .modal-video-preview .close-button {
        border: 1px solid var(--color-bg-dark-alt);
        font-size: 15px;
        font-weight: 600;
        border-radius: 0;
        color: var(--color-bg-dark-alt);
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-primary-dark);
            border-color: var(--color-primary-dark);
            color: var(--color-white);
            transition: all 0.3s;
        }
    }
    .modal-image-preview .download-button, .modal-video-preview .download-button {
        background-color: var(--color-primary);
        font-size: 16px;
        font-weight: 600;
        border-radius: 0;
        color: var(--color-white);
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-primary-dark);
            transition: all 0.3s;
        }
    }
/* #endregion */


/* #region: Responsive */
    @media (width < 1281px) {
        .inner-page .page-details .title {
            font-size: 21px;
        }
        .inner-page .form .label {
            font-size: 15px;
            margin-bottom: 3px!important;
        }
        .inner-page .form .input-field {
            height: 50px;
            font-size: 14px;
        }
        .inner-page .form .input-field::placeholder {
            font-size: 14px;
        }
        .inner-page .select2-container--default .select2-selection--single {
            height: 50px;
            font-size: 14px;
        }
        .select2-results__option {
            font-size: 14px;
        }
        .inner-page .form .toggle-password {
            top: 40px;
            font-size: 18px;
        }
        .inner-page .drop-area {
            padding: 0 10%;
        }
        .inner-page .drop-area i {
            font-size: 35px;
        }
        .inner-page .drop-area .drag-drop {
            font-size: 18px;
        }
        .inner-page .drop-area .line-or {
            margin-top: 5px;
        }
        .inner-page .drop-area .button {
            margin-top: 5px;
            margin-bottom: 15px;
        }
        .inner-page .drop-area .condition {
            font-size: 13px;
        }
        .inner-page .drop-area .image-preview, .inner-page .drop-area .video-preview {
            width: 150px;
            height: 100px;
        }
        .inner-page .drop-area .image-preview img, .inner-page .drop-area .video-preview video {
            width: 150px;
            height: 100px;
            object-fit: cover;
            cursor: pointer;
        }
        .inner-page .form .radios {
            gap: 25px;
        }
        .inner-page .form .form-check {
            gap: 5px;
        }
        .inner-page .form .form-check .form-check-input {
            width: 20px;
            height: 20px;
        }
        .inner-page .form .form-check .form-check-label {
            font-size: 14px;
        }
        .inner-page .form .submit-button {
            font-size: 15px;
            width: 180px;
            height: 50px;
        }
        .inner-page .form .info-box {
            padding: 10px 15px;
            padding-bottom: 0;
        }
        .inner-page .form .info-box .info-box-title {
            font-size: 16px;
            padding-bottom: 5px;
        }
        .inner-page .form .info-box .info-box-title .special {
            font-size: 20px;
            margin-right: 5px;
        }
        .inner-page .form .info-box .info-box-features {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .inner-page .message-form .chat-box .left-single-message .left-message, .inner-page .message-form .chat-box .right-single-message .right-message {
            padding: 10px;
        }
        .inner-page .message-form .chat-box .profile-image {
            height: 30px;
            width: 30px;
        }
        .inner-page .message-form .chat-box .left-single-message .time, .inner-page .message-form .chat-box .right-single-message .time {
            font-size: 11px;
        }

        .inner-page #map {
            height: 300px;
        }
        .inner-page .form .checks {
            gap: 20px;
            padding: 15px;
        }
    }
    @media (width < 992px) {
        .modal-image-preview .modal-body .modal-image, .modal-video-preview .modal-body .modal-video {
            height: 50vh;
        }
        .modal-image-preview .download-button, .modal-video-preview .download-button {
            font-size: 13px;
        }
        .modal-image-preview .close-button, .modal-video-preview .close-button {
            font-size: 12px;
        }
    }
    @media (width < 768px) {
        .inner-page .page-details .title {
            font-size: 18px;
        }
        .inner-page .page-details .description {
            font-size: 13px;
        }
        .inner-page .form .label {
            font-size: 14px;
        }
        .inner-page .form .input-field {
            height: 45px;
            font-size: 13px;
        }
        .inner-page .form .input-field::placeholder {
            font-size: 13px;
        }
        .inner-page .form .toggle-password {
            top: 35px;
            font-size: 17px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 13px;
        }
        .select2-results__option {
            font-size: 13px;
        }
        .inner-page .drop-area {
            height: 360px;
        }
        .inner-page .drop-area i {
            font-size: 30px;
        }
        .inner-page .drop-area .drag-drop {
            font-size: 16px;
        }
        .inner-page .drop-area .image-preview, .inner-page .drop-area .video-preview {
            width: 125px;
            height: 80px;
        }
        .inner-page .drop-area .image-preview img, .inner-page .drop-area .video-preview video {
            width: 125px;
            height: 80px;
        }
        .inner-page .form .form-check .form-check-label {
            font-size: 13px;
        }
        .inner-page .form .submit-button {
            width: 150px;
            height: 40px;
        }
        .inner-page .form .info-box {
            padding: 5px 10px;
            padding-bottom: 0;
        }
        .inner-page .form .info-box .info-box-title {
            font-size: 15px;
        }
        .inner-page .form .info-box .info-box-title .special {
            font-size: 17px;
        }
        .inner-page .form .info-box .info-box-features {
            font-size: 13px;
            padding-left: 5px;
        }

        .inner-page .message-form .chat-box .left-single-message .left-message, .inner-page .message-form .chat-box .right-single-message .right-message {
            padding: 5px;
            font-size: 12px;
        }
        .inner-page .message-form .chat-box .left-single-message, .inner-page .message-form .chat-box .right-single-message {
            width: 100%;
            gap: 10px;
        }

        .inner-page .form .checks {
            gap: 15px;
        }
    }
    @media (width < 415px) {
        .inner-page #place-autocomplete-card {
            width: 250px;
        }
    }
    @media (width < 377px) {
        .inner-page .form .radios {
            gap: 20px;
        }
    }





    @media (width <= 1281px) {
        /* .inner-page .inner-page-top-title {
            font-size: 21px;
        }
        .inner-page .inner-page-top-description {
            font-size: 16px;
        }
        .inner-page .nav-pills {
            margin-bottom: 15px;
        }
        .inner-page .nav-pills .nav-item .nav-link {
            font-size: 15px;
            padding-bottom: 5px;
        }
        .inner-page .tab-content {
            padding: 15px;
        }
        .inner-page .tab-content .tab-content-title {
            font-size: 16px;
            padding-bottom: 5px;
        }
        */
        /* .inner-page .map-address {
            font-size: 13px;
            margin-bottom: 5px !important;
        } */
    }
    @media (width <= 1025px) {
        /* .inner-page .form .section .add-row-button, .inner-page .form .add-row-button {
            font-size: 12px;
        }
        .inner-page .form .section .add-row-button i, .inner-page .form .add-row-button i {
            font-size: 12px;
        } */
    }
    @media (width <= 768px) {
        /* .inner-page .inner-page-top-title {
            font-size: 18px;
        }
        .inner-page .inner-page-top-description {
            font-size: 13px;
        }
        .inner-page .nav-pills .nav-item {
            margin-right: 25px;
        }
        .inner-page .nav-pills .nav-item .nav-link {
            font-size: 14px;
        }
        .inner-page .inner-page-title {
            font-size: 14px;
            padding-bottom: 2px;
        } */
    }
    @media (width <= 429px) {
        /* .inner-page .nav-pills {
            overflow-x: auto;
            flex-wrap: nowrap;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
        } */
    }
/* #endregion */