/* #region: Global */
    .page .title {
        font-size: 26px;
        font-weight: 700;
        color: var(--color-bg-dark-alt);
    }
    .page .description {
        font-size: 18px;
        color: var(--color-bg-dark);
    }
    .page .add-button {
        font-size: 16px;
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 15px 40px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-primary-dark);
            transition: all 0.3s;
        }
    }
    .page .add-button i {
        font-size: 15px;
        margin-right: 7px;
    }
/* #endregion */


/* #region: Dashboard */
    .dashboard .single-box {
        background-color: var(--color-white);
        padding: 15px;
    }
    .dashboard .single-box .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    .dashboard .single-box .text {
        font-size: 16px;
        color: var(--color-bg-dark-alt);
        font-weight: 500;
        padding-bottom: 5px;
    }
    .dashboard .single-box .value {
        font-size: 22px;
        color: var(--color-bg-dark-alt);
        font-weight: 600;
    }
    .dashboard .single-box .icon {
        color: var(--color-primary);
        font-size: 30px;
    }
    .dashboard .single-box .text .green {
        color: var(--color-primary-dark);
        margin-right: 5px;
    }
    .dashboard .single-box .text i {
        margin-right: 10px;
    }
    .dashboard .single-box .text .red {
        color: var(--color-red);
        margin-right: 5px;
    }
    .dashboard .box {
        background-color: var(--color-white);
        padding: 15px;
    }
    .dashboard .box .box-title {
        font-size: 19px;
        color: var(--color-bg-dark-alt);
        font-weight: 700;
        padding-bottom: 2px;
    }
    .dashboard .box .box-description {
        font-size: 15px;
        color: var(--color-bg-dark);
        font-weight: 500;
        padding-bottom: 15px;
    }
    .dashboard .box .box-description i {
        margin-right: 10px;
    }
    .dashboard .box .box-description .green {
        color: var(--color-primary-dark);
        margin-right: 5px;
    }
    .dashboard .box .box-description i {
        margin-right: 10px;
    }
    .dashboard .box .box-description .red {
        color: var(--color-red);
        margin-right: 5px;
    }
/* #endregion */


/* #region: Filter */
    .page .filter-form .input-field {
        background: var(--color-white);
        height: 80px;
        border: 1px solid var(--color-gray-light);
        border-radius: 0;
        font-size: 16px;
        color: var(--color-bg-dark-alt);
        font-weight: 700;
    }
    .page .filter-form .input-field::placeholder {
        color: var(--color-bg-dark-alt);
    }
    .page .filter-form .reset {
        color: var(--color-red);
        font-weight: 700;
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-red);
            color: var(--color-white);
            transition: all 0.3s;
        }
    }
    /* .page .filter-form .select2-container {
        height: 100%;
        width: 300px!important;
    }
    .page .filter-form .select2-container--default .select2-selection--single {
        border: none;
        border-right: 1px solid var(--input_border);
        border-radius: 0;
        height: 100%;
        width: 250px;
        outline: none;
        display: flex;
        align-items: center;
    }
    .page .filter-form .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 15px;
        color: var(--light_black);
        font-weight: 600;
        line-height: 28px;
    }
    .page .filter-form .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: initial!important;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: var(--red);
    }
    .select2-results__option {
        font-size: 15px;
    } */
/* #endregion */


/* #region: Pagination */
    .page .custom-pagination {
        margin-bottom: 10px;
        font-size: 13px;
        color: var(--color-gray);
    }
    .page .custom-pagination select {
        margin: 0 5px;
        font-size: 12px;
    }
    .page nav {
        margin-top: 20px;
    }
    .page nav .small {
        font-size: 13px;
        color: var(--color-gray);
    }
    .page nav .pagination {
        margin-bottom: 0;
    }
    .page nav .page-link {
        font-size: 13px;
        color: var(--color-bg-dark-alt);
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
        border-top-right-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
    .page nav .page-link:focus {
        box-shadow: none;
    }
    .page nav .active .page-link {
        color: var(--color-white);
        background-color: var(--color-bg-dark);
        border-color: var(--color-gray-light);
    }
/* #endregion */


/* #region: Table */
    .page .table-container {
        overflow-x: auto;
        white-space: nowrap;
    }
    .page .table-container::-webkit-scrollbar {
        height: 8px;
    }
    .page .table-container::-webkit-scrollbar-track {
        background: var(--color-gray-light);
    }
    .page .table-container::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
    }
    .page .table-container::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-primary-dark);
        cursor: pointer;
    }
    .page .table-container .table {
        margin-bottom: 0;
    }
    .page .table-container .table th {
        font-size: 16px;
        color: var(--color-bg-dark-alt);
        font-weight: 700;
        border: none;
        padding: 20px 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid var(--color-gray-light);
        position: relative;
    }
    .page .table-container .table tr {
        border-bottom: 1px solid var(--color-gray-light);
        background-color: var(--color-white);
        font-size: 15px;
        color: var(--color-bg-dark);
        vertical-align: middle;
    }
    .page .table-container .table tr td {
        border: none;
        padding: 25px 15px;
    }
    .page .table-container .table tr:last-child {
        border-bottom: none;
    }
    .page .table-container .table .action-button {
        font-size: 20px;
        -webkit-text-stroke: 0.5px;
        margin: 0 7px;
        cursor: pointer;
    }
    .page .table-container .table .action-button {
        color: var(--color-bg-dark-alt);
    }
    .page .table-container .table .action-button.delete-button {
        color: var(--color-red);
    }
    .page .table-container .table .status {
        font-size: 12px;
        font-weight: 600;
        width: 90px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page .table-container .table .status.active-status {
        color: var(--color-primary-dark);
        background: var(--color-primary-opacity);
    }
    .page .table-container .table .status.inactive-status {
        color: var(--color-gray);
        background: var(--color-gray-light);
    }
    .page .table-container .table .status.pending-status {
        color: var(--color-gold);
        background: var(--color-gold-opacity);
    }
    .page .table-container .table .sort-icon {
        font-size: 20px;
        cursor: pointer;
    }
    /* .page .table-container .table .table-link {
        font-weight: 600;
        color: var(--blue);
        &:hover {
            text-decoration: underline!important;
        }
    }
    .page .table-container .table .table-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    } */
/* #endregion */


/* #region: Single loop */
    /* .page .single-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        background-color: var(--white);
        padding: 30px;
    }
    .page .single-page:last-child {
        margin-bottom: 0;
    }
    .page .single-page .page-name {
        font-size: 17px;
        color: var(--black);
        font-weight: 500;
    }
    .page .single-page .links {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .page .single-page .links .link {
        font-size: 16px;
        color: var(--gray);
        font-weight: 500;
        line-height: 20px;
    }
    .page .single-page .links .link i {
        padding-right: 5px;
    }
/* #endregion */


/* #region: Message */
    .page .messages {
        background-color: var(--color-white);
        padding: 20px;
        border-radius: 10px;
    }
    .page .messages .top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;
    }
    .page .messages .top-row .form {
        width: 50%;
    }
    .page .messages .top-row .input-field {
        background-color: var(--color-gray-very-light);
        border: none;
        border-radius: 0;
        height: 50px;
        font-size: 15px;
        color: var(--color-bg-dark-alt);
    }
    .page .messages .top-row .input-field::placeholder {
        font-size: 15px;
        color: var(--color-bg-dark-alt);
    }
    .page .messages .top-row .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-gray-very-light);
        border: none;
        border-radius: 0;
        height: 50px;
        width: 12%;
        padding: 0 15px;
    }
    .page .messages .top-row .icons.bin-icons {
        width: 15%;
    }
    .page .messages .top-row .icons .icon {
        font-size: 22px;
        font-weight: 600;
        color: var(--color-bg-dark-alt);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: var(--color-gold);
            transition: all 0.3s;
        }
    }
    .page .messages .all-messages {
        overflow-x: auto;
        white-space: nowrap;
    }
    .page .messages .all-messages::-webkit-scrollbar {
        height: 8px;
    }
    .page .messages .all-messages::-webkit-scrollbar-track {
        background: var(--color-gray-light);
    }
    .page .messages .all-messages::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
    }
    .page .messages .all-messages::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-primary-dark);
        cursor: pointer;
    }
    .page .messages .single-message {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        gap: 15px;
        padding: 10px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-gray-light);
            transition: all 0.3s;
        }
    }
    .page .messages .single-message:last-child {
        margin-bottom: 0;
    }
    .page .messages .single-message .form-check-input {
        margin-top: 0;
        font-size: 20px;
        border-radius: 5px;
        border: 1px solid var(--color-gray-light);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            border-color: var(--color-primary);
            transition: all 0.3s;
        }
    }
    .page .messages .single-message .star {
        font-size: 20px;
        color: var(--color-bg-dark);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: var(--color-primary);
            transition: all 0.3s;
        }
    }
    .page .messages .single-message .star.gold {
        color: var(--color-gold);
    }
    .page .messages .single-message .name {
        font-size: 14px;
        color: var(--color-bg-dark-alt);
        font-weight: 500;
    }
    .page .messages .single-message .category {
        font-size: 12px;
        border-radius: 2px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: var(--color-primary-opacity);
        color: var(--color-bg-dark-alt);
    }
    .page .messages .single-message .message-content {
        font-size: 14px;
        color: var(--color-bg-dark);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50ch;
    }
    .page .messages .single-message .date-time {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-bg-dark);
    }
    .page .messages .single-message .form-check-input:checked {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }
    .page .messages .single-message .no-data {
        font-size: 23px;
        text-align: center;
        color: var(--color-red);
        font-weight: 600;
    }
/* #endregion */


/* #region: Responsive */
    @media (width <= 1921px) {}
    @media (width <= 1901px) {}
    @media (width <= 1851px) {}
    @media (width <= 1801px) {}
    @media (width <= 1751px) {}
    @media (width <= 1681px) {}
    @media (width <= 1601px) {}
    @media (width <= 1537px) {}
    @media (width <= 1441px) {}
    @media (width <= 1367px) {}
    @media (width <= 1301px) {}
    @media (width <= 1281px) {}
    @media (width <= 1201px) {}
    @media (width <= 1151px) {}
    @media (width <= 1076px) {}
    @media (width <= 1025px) {}
    @media (width <= 992px) {}
    @media (width <= 845px) {}
    @media (width <= 768px) {}
    @media (width <= 721px) {}
    @media (width <= 651px) {}
    @media (width <= 576px) {}
    @media (width <= 481px) {}
    @media (width <= 429px) {}
    @media (width <= 415px) {}
    @media (width <= 396px) {}
    @media (width <= 377px) {}
    @media (width <= 361px) {}
    @media (width <= 331px) {}
/* #endregion */