/* #region: Sidebar - Completed */
    .sidebar {
        position: fixed;
        margin-top: 80px;
        background-color: var(--color-white);
        height: 90vh;
        width: 0;
        overflow-y: auto;
        white-space: nowrap;
        z-index: 9;
        transition: all 0.3s;
    }
    .sidebar.active {
        width: 300px;
        transition: all 0.3s;
    }
    .sidebar::-webkit-scrollbar {
        width: 5px;
    }
    .sidebar::-webkit-scrollbar-track {
        background: var(--color-gray-light);
    }
    .sidebar::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
    }
    .sidebar::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-primary);
        cursor: pointer;
    }
    .sidebar .main-menu {
        padding: 0;
        margin: 10px 0;
        list-style-type: none;
    }
    .sidebar .main-menu .link {
        display: flex;
        align-items: center;
    }
    .sidebar .main-menu .link .box {
        width: 10px;
        height: 60px;
        margin-right: 25px;
    }
    .sidebar hr {
        margin: 0;
        border: 1px solid var(--color-gray);
    }
    .sidebar .main-menu .link a {
        color: var(--color-black);
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 100%;
        transition: all 0.3s;
        &:hover {
            color: var(--color-white);
            transition: all 0.3s;
        };
        &:hover > .box {
            background-color: var(--color-primary-dark);
            transition: all 0.3s;
        };
        &:hover > .actual-link {
            background-color: var(--color-primary-dark);
            border-radius: 4px;
            transition: all 0.3s;
        };
        &:hover > .actual-link .log-out {
            color: var(--white)!important;
            transition: all 0.3s;
        };
    }
    .sidebar .main-menu .link a.active {
        color: var(--color-white);
    }
    .sidebar .main-menu .link a.active .box {
        background-color: var(--color-primary-dark);
    }
    .sidebar .main-menu .link a.active .actual-link {
        background-color: var(--color-primary-dark);
        border-radius: 4px;
    }
    .sidebar .main-menu .link .actual-link {
        padding: 15px;
        display: flex;
        align-items: center;
        width: 85%;
    }
    .sidebar .main-menu .link .actual-link .new-count {
        margin-left: auto;
    }
    .sidebar .main-menu .link:last-child {
        margin-bottom: 0;
    }
    .sidebar .main-menu .link a i {
        font-size: 20px;
        padding-right: 15px;
    }
    .sidebar .main-menu .link .log-out {
        border: none;
        background-color: transparent;
        font-weight: 500;
        padding: 0;
    }
/* #endregion */


/* #region: Responsive - Completed */
    @media (width < 1281px) {
        .sidebar {
            margin-top: 60px;
        }
        .sidebar .main-menu .link a {
            font-size: 14px;
        }
        .sidebar .main-menu .link a i {
            font-size: 15px;
            padding-right: 10px;
        }
        .sidebar.active {
            width: 230px;
        }
        .sidebar .main-menu .link .box {
            height: 52px;
            margin-right: 10px;
        }
        .sidebar .main-menu .link .actual-link {
            width: 90%;
        }
    }
    @media (width < 768px) {
        .sidebar .main-menu {
            margin: 5px 0;
        }
        .sidebar .main-menu .link a {
            font-size: 13px;
        }
        .sidebar .main-menu .link .box {
            height: 43px;
            margin-right: 8px;
        }
        .sidebar.active {
            width: 200px;
        }
        .sidebar .main-menu .link .actual-link {
            width: 87%;
            padding: 10px;
        }
    }
    @media (width < 576px) {
        .sidebar.active {
            width: 0;
        }
        .sidebar {
            width: 200px;
        }
    }
/* #endregion */