/* #region: Import */
    @import url("./backend/sidebar.css");
    @import url("./backend/page.css");
    @import url("./backend/inner-page.css");
/* #endregion */


/* #region: Global */
    .navbar-fluid {
        position: fixed;
        height: 80px;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 9;
        padding: 0 15px;
    }
    .navbar-fluid .sidebar-icon {
        position: absolute;
        top: 30%;
        display: block;
        color: var(--color-white);
        font-size: 25px;
        cursor: pointer;
        z-index: 19999;
    }
    .backend-content {
        padding-top: 95px;
        padding-bottom: 20px;
        padding-left: 320px;
        padding-right: 20px;
        transition: all 0.3s;
    }
    .backend-content.full-width {
        padding-left: 0;
        transition: all 0.3s;
    }
    /* .date-picker-x.active {
        z-index: 10;
    } */
/* #endregion */


/* #region: Message sidebar - Completed */
    .message-sidebar {
        background-color: var(--color-white);
        padding: 20px;
        border-radius: 10px;
    }
    .message-sidebar .title {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
        color: var(--color-bg-dark-alt);
    }
    .message-sidebar .menu {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .message-sidebar .link {
        margin-bottom: 5px;
    }
    .message-sidebar .link:last-child {
        margin-bottom: 0;
    }
    .message-sidebar .link .actual-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-weight: 400;
        color: var(--color-bg-dark-alt);
        padding: 15px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-gold-opacity);
            border-radius: 5px;
            transition: all 0.3s;
        }
        &:hover .number {
            color: var(--color-red);
        }
    }
    .message-sidebar .link .actual-link .number {
        color: var(--color-bg-dark-alt);
        font-size: 14px;
        transition: all 0.3s;
    }
    .message-sidebar .link .actual-link.active {
        background-color: var(--color-gold-opacity);
        border-radius: 5px;
        transition: all 0.3s;
        font-weight: 500;
    }
    .message-sidebar .link .actual-link.active > .number {
        color: var(--color-red);
    }
    .message-sidebar .link .actual-link i {
        margin-right: 20px;
        font-size: 20px;
        line-height: 0;
    }
/* #endregion */


/* #region: Responsive - Completed */
    @media (width < 1281px) {
        .navbar-fluid {
            height: 60px;
        }
        .navbar-fluid .sidebar-icon {
            top: 25%;
        }

        .backend-content {
            padding-top: 70px;
            padding-left: 240px;
            padding-right: 10px;
        }
        .backend-content.full-width {
            padding-left: 10px;
        }

        .message-sidebar, .inner-page .message-form {
            padding: 10px;
        }
        .message-sidebar .title {
            font-size: 16px;
            padding-bottom: 5px;
        }
        .message-sidebar .link .actual-link {
            font-size: 14px;
        }
        .message-sidebar .link .actual-link i {
            margin-right: 10px;
            font-size: 16px;
        }
        .message-sidebar .link .actual-link .number {
            font-size: 13px;
        }
    }
    @media (width < 1076px) {
        .navbar .navbar-brand {
            margin-left: 30px;
        }
    }
    @media (width < 992px) {
        .message-sidebar, .inner-page .message-form {
            padding: 15px;
        }
    }
    @media (width < 768px) {
        .backend-content {
            padding-left: 200px;
            padding-right: 0px;
        }
        .backend-content.full-width {
            padding-left: 0;
        }
        
        .message-sidebar .title {
            font-size: 14px;
            padding-bottom: 0px;
        }
        .message-sidebar .link .actual-link {
            font-size: 13px;
            padding: 10px 5px;
        }
        .message-sidebar .link .actual-link i {
            font-size: 14px;
        }
    }
    @media (width < 576px) {
        .backend-content {
            padding-left: 0;
        }
    }
    @media (width < 481px) {
        .navbar-fluid .sidebar-icon {
            top: 30%;
            font-size: 20px;
        }
    }
/* #endregion */