/* #region: Page */
    .page-global {
        margin-top: 3%;
    }
    /* .page-global {
        margin-top: 3%;
    }
    .page-title {
        font-size: 56px;
        font-weight: 600;
        text-align: center;
        color: var(--light_black);
        padding-bottom: 20px;
    }
    .page-description {
        font-size: 20px;
        text-align: center;
        color: var(--gray);
        width: 75%;
        margin: auto;
    }
    .section-title {
        font-size: 32px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 8px;
    }
    .section-description {
        font-size: 17px;
        color: var(--gray);
        padding-bottom: 30px;
    }
    .section-margin {
        margin-bottom: 50px;
    } */
/* #endregion */


/* #region: Responsive */
    @media (width < 768px) {
        .page-global {
            margin-top: 4%;
        }
    }
/* #endregion */